__pycache__/**
__pycache__
*.pyc
*.pyo
*.pyd

.DS_Store
Thumbs.db
.idea/
*.log
*.7z
.venv/
.venv
.vscode/

*.tmp
*.log
*.bak

output

.claude/
BUILD/

/output/
/generated_patterns/

/3rd/
/3rdTools/

/tmp/

/runtime/

*.patch.yaml
*.patch.json
